.republican_no {
    background: #B04039;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 2px 2px;
    max-width: 30;
    max-height: 10;
    font-size: 2px;
    font-family: sans-serif;
    text-align: center;
  }

  .republican_yes {
    background: #E4444B;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 2px 2px;
    max-width: 30;
    max-height: 10;
    font-size: 2px;
    font-family: sans-serif;
    text-align: center;
  }

  .democratic_no {
    background: #084174;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 2px 2px;
    max-width: 30;
    max-height: 10;
    font-size: 2px;
    font-family: sans-serif;
    text-align: center;
  }
  .democratic_yes {
    background: #4B8DFA;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 2px 2px;
    max-width: 30;
    max-height: 10;
    font-size: 2px;
    font-family: sans-serif;
    text-align: center;
  }